<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            background: linear-gradient(to right, #00c9ff, #92fe9d);
        }
        h1{
            text-decoration: underline;
            font-weight: 600;
            margin-bottom: 20px;
        }
        li{
            list-style-type: none;
            padding: 10px 0;
        }
        a{
            color: black;
            text-decoration: none;
            font-size: 1.5em;
        }
    </style>
</head>
<body>
    <center>
        <h1>School Data Retrieved by using ListView</h1>
        <h1>List Of School Object</h1>
        <ul>
            {% for i in allSO %}
            <li><a href="{{i.pk}}">{{i.school_name}}</a></li>
        {% endfor %}
        </ul>
    </center>
</body>
</html>